<div class="boxy span5 offset2">

	<h1 class="custom-h1">Running is fun</h1>

	<br/>

	<h2>Get your kicks on</h2>

	<%= link_to 'Start Running', '#', :class => 'btn pull-right btn-info btn-large'%>


</div>