
	<% @pics.each do |pic| %>

<div class="boxy span4 offset1 top-buffer">
	
	<h1 class="custom-h1a">
		Name: <%= pic.Name %>
	</h1>

	<h3>
		Distance: <%= pic.Distance %>
	</h32>
	<h3>
		State: <%= pic.State %>
	</h3>

</div>

	<% end %>